<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/Z1srPv7lOy9C27hHQ+Xp8a4MxAQ5a+VfT5HCVcYzXcRbdCW+oC7Y1L8y+2Q1L0jYKg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Brain Synapses | Home Page</title>
</head>

<body>
    <div class="container">
        <main id="header">
            <p>
                Olá, <span class="bold">{{name}}</span> Seja bem vindo!
            </p>
        </main>
        <div class="dashboard">
            <p class="dashboard-item">Número de Usuários: {{user_count}}</p>
            <p class="dashboard-item">Arquivos Enviados: {{file_count}}</p>
            <p class="dashboard-item">Espaço Utilizado: {{storage_used}}</p>
    </div>
    <script src="../static/javascript/script.js"></script>
</body>

</html>