* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.container{
    margin-left: 100px;
    margin-right: 100px;
}

#header{
    margin: 7.5px;
    padding: 15px;
    background-color: #c0c0c0;
    border-radius: 7px;
}

.bold{
    font-weight: bold;
}
